=# Compiled class file
 *.class

 # Log file
 *.log

 # Project gen files
 .idea
 .allure/
 .gradle/
 allure-results/
 gradle/
 build/
 bin/
 out/
 logs/
 target/
 .classpath
 .project
.vscode
 /gradlew
 /gradlew.bat
 .todo
 /settings.gradle
